#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* src/App.css */

.task-board {
  display: flex;
  justify-content: space-between;
  
}

.column {
  flex: 1;
  padding: 10px;
}

.task {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
